/*  Font: IBM Plex Mono
    Source: Google font (https://fonts.google.com/specimen/IBM+Plex+Mono) */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

/*  Font: Ndot 57 Aligned
    Source: Online Web Fonts (https://www.onlinewebfonts.com/download/d7a74ed36ff0603a3e41b6da32c47f03) */
@import url('https://db.onlinewebfonts.com/c/d7a74ed36ff0603a3e41b6da32c47f03?family=Ndot+57+Aligned');

/*  Pack Icon: Flaticon Brands
    Source: Flaticon (https://www.flaticon.com/uicons/interface-icons) */
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');


/* ---------------------------------------------------------------
                             Général
--------------------------------------------------------------- */

body {
  background-color: #0C0C0C;
  font-family: 'IbM Plex Mono', monospace;
  font-weight: 400;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Ndot 57 Aligned';
  color: #CCCCCC;
}

h2, h3, h4, h5 {
  font-weight: 400;
  color: #CCCCCC;
  font-family: "Ndot 57 Aligned";
}

p {
  color: #CCCCCC;
}

a {
  color: #CCCCCC;
  text-decoration: none;
}

.subTitle {
  font-family: 'Ndot 57 Aligned';
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: normal;
  color: #CCCCCC;
}

.Bandeau {
  background-color: #242424;
  padding: 20px 0px 20px 60px;
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-width: 2px 0px;
}

/* ---------------------------------------------------------------
                             Header
--------------------------------------------------------------- */

header {
  background-color: #0C0C0C;
  border-bottom: #CCCCCC 1px solid;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

nav {
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
}

nav .title {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: 20px;
  font-size: 2rem;
}

nav .title h1 {
  font-size: 2.3rem;
}

nav .nav-text {
  display: flex;
  gap: 30px;
  margin-right: 25px;
}

/* ---------------------------------------------------------------
                        Section présentation
--------------------------------------------------------------- */

.Presentation {
  padding: 0px 160px 0px 160px;
  position: relative;
  z-index: 0;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.Presentation::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

  /* Créer un motif de grille avec des lignes espacées de 3.5em */
  background-image: linear-gradient(#242424 .1em, transparent .1em), linear-gradient(90deg, #242424 .1em, transparent .1em);
  background-size: 3.5em 3.5em;

  /* Mette un masque pour faire disparaitre le motif sur les cotées de la section */
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
}

.Presentation p {
  font-size: 1rem;
  line-height: 0.1rem;
  margin-top: 3px;
}

.Presentation-Text-Box {
  padding: 20px 40px 20px 20px;
  background-color: rgba(204, 204, 204, 0.021);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  max-width: fit-content;
  max-height: fit-content;
  z-index: 1;
  margin: auto 0px auto 0px;
}

.Presentation button {
  padding: 7.5px 15px;
  background-color: #242424;
  color: #CCCCCC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.Presentation button:hover {
  background-color: #333333;
}

.Presentation button i {
  margin-right: 8px;
}

.Presentation .Pseudo {
  font-family: 'Ndot 57 Aligned';
  font-size: 4rem;
  font-weight: 500;
  display: inline-block;
  background: linear-gradient(to right, #aa0200 15%, #773938);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Presentation .voiture {
  cursor: pointer;
  z-index: 1;
  padding: 35px 35px 15px 35px;
  background-color: rgba(204, 204, 204, 0.021);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  margin: 175px 0px 175px 0px;
}

.voiture .voiture-Text {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.voiture .voiture-Text span {
  height: fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 2.0rem;
  font-family: "Ndot 57 Aligned";

  background: linear-gradient(to right, #aa0200 15%, #773938);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.voiture .voiture-Text .nithawi {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.25rem;
}

/* ---------------------------------------------------------------
                        Section About
--------------------------------------------------------------- */

.About {
  background-image: url("about_background.png");
  background-size: cover;
  background-position: center;
  /* Mette un masque pour faire disparaitre le motif sur les cotées de la section */
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);

  padding: 200px 0px 200px 0px;
  display: flex;
  justify-content: center;
}

.About-Text-Box {
  padding: 25px;
  font-size: larger;
  max-width: fit-content;
  position: relative;
  z-index: 0;

  border-radius: 45px;
  border: 2px solid rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(4px);
}

.About-Text-Box h2 {
  margin-bottom: 1px;
  margin-top: 1px;
  font-family: 'Ndot 57 Aligned';
  font-size: 2.5rem;
  font-weight: normal;
  color: #aa0200;
}

.About-Text-Box h2 span {
  color: #CCCCCC;
}

.About-Text-Box p {
  margin-top: 10px;
  line-height: 1.5rem;
  text-align: right;
}

.About-Text-Box .separator {
  height: 2px;
  width: 60%;
  margin: 20px auto;
  background-color: #242424;
}

/* ---------------------------------------------------------------
                        Section Projets
--------------------------------------------------------------- */

.Projets {
  padding: 150px 0px 150px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  align-items: stretch;
  min-height: 360px;

  /* Créer une background de points */
	background:
		linear-gradient(90deg, #0C0C0C calc(22px - .1em), transparent 1%) center / 22px 22px,
		linear-gradient(#0C0C0C calc(22px - .1em), transparent 1%) center / 22px 22px,
		#242424;

  /* Mette un masque pour faire disparaitre le motif sur les cotées de la section */
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
}

.Cards {
  text-align: center;
  position: relative;
  list-style: none;
  flex: 0 0 auto;
  padding-inline-start: 0;
  padding: 0px 60px 0px 60px;
}

.Cards .Card-Btn{
  position: absolute;
  font-weight: normal;
  font-size: 5rem;
  font-family: 'Ndot 57 Aligned';
  color: #CCCCCC;
  background: none;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  transition: color .2s ease-in-out;
  will-change: color;
}

.Cards .Card-Btn:hover{
  color: #aa0200;
}

#prev {
 left: 5px;
}

#next {
  right: 5px;
}

/* -----------------
       Slide
----------------- */

.slide {
  display: none; /* cache les slides pas active */
  position: relative;
  opacity: 0;
  justify-content: space-between;
  backdrop-filter: blur(2px);
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 45px;
  padding: 25px 15px 25px 15px;
  width: 350px;
  height: 450px;
}

.slide.active {
  display: block;
  opacity: 1;
}

.slide li {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide h2 {
  font-family: 'Ndot 57 Aligned';
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: normal;
  color: #CCCCCC;
}

.slide img {
  width: 250px;
  height: 300px;
  object-fit: contain;
  margin: 10px auto;
}

/* -----------------
    Description
----------------- */

.description {
  display: none;
  position: relative;
  opacity: 0;
  background-color: #242424;
  width: 400px;
  height: 450px;
  padding: 25px 15px 25px 30px;
  border-radius: 45px;
  border: 2px solid rgba(255, 255, 255, 0.06);
  background-color: rgba(204, 204, 204, 0.021);
  backdrop-filter: blur(2px);
}

.description.active {
  display: block;
  opacity: 1;
}